
@font-face {
    font-family: 'Gotham-Bold';
    src: url('Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('Gotham-Bold.woff') format('woff'),
    url('Gotham-Bold.ttf')  format('truetype'),
    url('Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
