
.arrow {
    align-items: center;
    color: currentColor;
    display: flex;

    &:before {
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px currentColor;
        content: '';
        display: block;
        height: 10px;
        margin-right: 14px;
        width: 10px;
    }
}

