* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[hidden] {
    display: none;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    background-color: $grayColor;
    margin: 0;
    font: 16px $font;
}

.icon {
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 20px;

    &_logo {
        width: 50px;
        height: 29px;
    }
}
