$whiteColor: #fff;
$grayColor: gray;

@include addFont("fontawesome");
@include addFont("gotham_bold");
@include addFont("gotham_book");
@include addFont("gotham_medium_regular");

$fontIcon: "fontawesome";
$fontBold: "gotham_bold";
$fontBook: "gotham_book";
$font: "gotham_medium_regular";
